<!DOCTYPE html>
<html lang="vi">
<head>
<!--Tiêu đề-->
<title>Footer</title>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1" />
</head>
<body>
	<!-- phần cuối trang -->
	<div id="footer">
		<footer class="footer-distributed">
			<div class="footer-right">
				<a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a> <a
					href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a> <a
					href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
			</div>
			<div class="footer-left">
				<p class="footer-links">
					<a href="index.html" title="Header" data-toggle="popover"
						data-trigger="hover" data-content="Tới trang chủ">Home</a> · <a
						href="about.html" title="Header" data-toggle="popover"
						data-trigger="hover" data-content="Tới about">About</a> · <a
						href="baiTap.html" title="Header" data-toggle="popover"
						data-trigger="hover" data-content="Tới bài tập">Bài tập</a> · <a
						href="notFound.html" title="Header" data-toggle="popover"
						data-trigger="hover" data-content="Tới blog">Blog</a> · <a
						href="contact.html" title="Header" data-toggle="popover"
						data-trigger="hover" data-content="Tới contact">Contact</a>
				</p>
				<p>Thanghoang &copy; 2016</p>
			</div>
		</footer>
		<!--javascript-->
		<script src="../js/myScript2.js"></script>
		<script>
            $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
            });
        </script>
		<script>  
// thisDoc refers to the "importee", which is blog-post.html
var thisDoc = document.currentScript.ownerDocument;

// thatDoc refers to the "importer", which is index.html
var thatDoc = document;

// grab the contents of the #blog-post from this document
// and append it to the importing document.
var content = thisDoc.querySelector('#footer');
thatDoc.body.appendChild(thatDoc.importNode(content, true));
</script>
	</div>
</body>
</html>